@import "../font/iconfont.css";
/* 通过@import引入的文件没有作用域！（即使当前文件在scoped下，@import引入的iconfont.css也没有作用域） */

/* .indexcss-font {
    font-size: 30px;
    font-weight: bold;
}
.index-content {
    color: red;
}
.index-bg {
    background-image: url(../img/img2.png);
    background-size: contain;
    height: 50px;
    width: 100px;
} */
